In [1]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
data = pd.read_csv ("/content/drive/MyDrive/DLassignment3/hi.translit.sampled.train.tsv", sep = '\t')

In [ ]:
data.rename(columns = {'अं' : 'Hindi', 'an' : 'English'}, inplace = True)

In [ ]:
data

           Hindi     English  3
0        अंकगणित    ankganit  3
1           अंकल       uncle  4
2          अंकुर       ankur  4
3         अंकुरण     ankuran  3
4        अंकुरित     ankurit  3
...          ...         ... ..
44198  ह्वेनसांग  hiuentsang  1
44199  ह्वेनसांग  hsuantsang  1
44200  ह्वेनसांग    hyensang  1
44201  ह्वेनसांग    xuanzang  1
44202          ॐ          om  3

[44203 rows x 3 columns]

In [ ]:
input_texts=data['English']
target_texts=data['Hindi']

In [ ]:
input_texts=list(input_texts)

In [ ]:
target_texts=list(target_texts)

In [ ]:
input_chars=set()
target_chars = set()

In [ ]:
i=0
for input_text in input_texts:
  #print(input_text)
  try:
    for char in input_text:
      if char not in input_chars:
        input_chars.add(char)
  except:
    print("********************************************************************************************************************************")
    input_texts.remove(input_text)
    target_texts.remove(target_texts[i])
  i=i+1;

********************************************************************************************************************************
********************************************************************************************************************************

In [ ]:
len(input_chars)

In [ ]:
for input_text in target_texts:
  #print(input_text)
  try:
    for char in input_text:
      if char not in target_chars:
        target_chars.add(char)
  except:print(input_text)

In [ ]:
input_chars = sorted(list(input_chars))
target_chars = sorted(list(target_chars))

In [ ]:
num_encoder_tokens = len(input_chars)+1
num_decoder_tokens = len(target_chars)+1

In [ ]:
max_encoder_seq_length = max([len(txt) for txt in input_texts])
max_decoder_seq_length = max([len(txt) for txt in target_texts])

In [ ]:
input_token_id = dict([(char, i+1) for i, char in enumerate(input_chars)])
target_token_id = dict([(char, i+1) for i, char in enumerate(target_chars)])

In [ ]:
input_token_id['_']=0

In [ ]:
target_token_id['_']=0

In [ ]:
target_token_id

In [ ]:

encoder_in_data = np.zeros((len(input_texts), max_encoder_seq_length), dtype='float32')

decoder_in_data = np.zeros((len(input_texts), max_decoder_seq_length), dtype='float32')

decoder_target_data = np.zeros((len(input_texts), max_decoder_seq_length), dtype='float32')

In [ ]:
for i, (input_text, target_text) in enumerate(zip(input_texts, target_texts)):
    for t, char in enumerate(input_text):
        encoder_in_data[i, t ] = input_token_id[char]
    for t, char in enumerate(target_text):
        decoder_in_data[i, t] = target_token_id[char]
        if t > 0:
            decoder_target_data[i, t - 1] =target_token_id[char]

In [ ]:
#Model data Shape
print("encoder_in_data shape:",encoder_in_data.shape)
print("decoder_in_data shape:",decoder_in_data.shape)
print("decoder_target_data shape:",decoder_target_data.shape)

encoder_in_data shape: (44201, 20)
decoder_in_data shape: (44201, 19)
decoder_target_data shape: (44201, 19)

In [ ]:
encoder_in_data=encoder_in_data.astype(int)
decoder_in_data=decoder_in_data.astype(int)
decoder_target_data=decoder_target_data.astype(int)

In [ ]:
input_texts[0]

'ankganit'